//! **************************************************************************
// Written by: Map P.20131013 on Thu May 23 12:46:47 2019
//! **************************************************************************

SCHEMATIC START;
SYSTEM_JITTER = 1000 ps;
COMP "DC_CLK_N<0>" LOCATE = SITE "AB15" LEVEL 1;
COMP "DC_CLK_N<1>" LOCATE = SITE "AB21" LEVEL 1;
COMP "DC_CLK_N<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "DC_CLK_N<3>" LOCATE = SITE "AF5" LEVEL 1;
COMP "DC_CLK_P<0>" LOCATE = SITE "AA15" LEVEL 1;
COMP "DC_CLK_P<1>" LOCATE = SITE "AA21" LEVEL 1;
COMP "DC_CLK_P<2>" LOCATE = SITE "AB13" LEVEL 1;
COMP "DC_CLK_P<3>" LOCATE = SITE "AE5" LEVEL 1;
COMP "gtRxN" LOCATE = SITE "C7" LEVEL 1;
COMP "gtRxP" LOCATE = SITE "D7" LEVEL 1;
COMP "gtTxN" LOCATE = SITE "A6" LEVEL 1;
COMP "gtTxP" LOCATE = SITE "B6" LEVEL 1;
COMP "SYNC_N<0>" LOCATE = SITE "AB17" LEVEL 1;
COMP "SYNC_N<1>" LOCATE = SITE "Y13" LEVEL 1;
COMP "SYNC_N<2>" LOCATE = SITE "Y16" LEVEL 1;
COMP "SYNC_N<3>" LOCATE = SITE "AF6" LEVEL 1;
COMP "SYNC_P<0>" LOCATE = SITE "AA18" LEVEL 1;
COMP "SYNC_P<1>" LOCATE = SITE "W14" LEVEL 1;
COMP "SYNC_P<2>" LOCATE = SITE "W16" LEVEL 1;
COMP "SYNC_P<3>" LOCATE = SITE "AD6" LEVEL 1;
COMP "txDisable" LOCATE = SITE "E8" LEVEL 1;
COMP "RX_DC_N<0>" LOCATE = SITE "AB19" LEVEL 1;
COMP "RX_DC_N<1>" LOCATE = SITE "AA16" LEVEL 1;
COMP "RX_DC_N<2>" LOCATE = SITE "W18" LEVEL 1;
COMP "RX_DC_P<0>" LOCATE = SITE "AA19" LEVEL 1;
COMP "RX_DC_P<1>" LOCATE = SITE "Y15" LEVEL 1;
COMP "RX_DC_P<2>" LOCATE = SITE "W17" LEVEL 1;
COMP "RX_DC_P<3>" LOCATE = SITE "AB7" LEVEL 1;
COMP "TX_DC_N<0>" LOCATE = SITE "V15" LEVEL 1;
COMP "TX_DC_N<1>" LOCATE = SITE "AD5" LEVEL 1;
COMP "TX_DC_N<2>" LOCATE = SITE "W12" LEVEL 1;
COMP "TX_DC_N<3>" LOCATE = SITE "AF4" LEVEL 1;
COMP "TX_DC_P<0>" LOCATE = SITE "V14" LEVEL 1;
COMP "TX_DC_P<1>" LOCATE = SITE "AC5" LEVEL 1;
COMP "TX_DC_P<2>" LOCATE = SITE "V12" LEVEL 1;
COMP "TX_DC_P<3>" LOCATE = SITE "AD4" LEVEL 1;
COMP "gtClkN" LOCATE = SITE "C11" LEVEL 1;
COMP "gtClkP" LOCATE = SITE "D11" LEVEL 1;
TIMEGRP DC_CLK_P = BEL "DC_IO_BUFF/DC_CLK_P<0>";
PIN U_S6EthTop/U_GtpS6/U_GtpS6Tile/gtpa1_dual_i_pins<0> = BEL
        "U_S6EthTop/U_GtpS6/U_GtpS6Tile/gtpa1_dual_i" PINNAME CLK01;
TIMEGRP gtClkP = PIN "U_S6EthTop/U_GtpS6/U_GtpS6Tile/gtpa1_dual_i_pins<0>";
TS_gtClkP = PERIOD TIMEGRP "gtClkP" 8 ns HIGH 50%;
SCHEMATIC END;

